<h2 mat-dialog-title>{{ editingComission ? 'Edición de ' + editingComission.course.name : 'Agregar comision' }}</h2>
<div mat-dialog-content>    
    <form [formGroup]="comissionForm" class="grid">
        <div class="col-6 field">
            <mat-form-field>
                <mat-label>Curso</mat-label>
                <input formControlName="course" matInput type="text" name="course">
                <mat-error *ngIf="courseControl.hasError('required')">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field>
                <mat-label>Id del curso</mat-label>
                <input formControlName="course" matInput type="text" name="course">
                <mat-error *ngIf="courseControl.hasError('required')">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field>
                <mat-label>Profesor</mat-label>
                <input formControlName="teacher" matInput type="text" name="teacher">
                <mat-error *ngIf="teacherControl.hasError('required')">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input formControlName="date" matInput type="text" name="date">
                <mat-error *ngIf="dateControl.hasError('required')">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions class="flex justify-content-end">
    <button type="submit" mat-button mat-dialog-close>Cancelar</button>
    <button (click)="onSubmit()" type="submit" mat-button>Guardar</button>
</div>
